<h2>Offer Slots</h2>
<ul class="offerslots">
  <li *ngFor="let offerSlot of offerSlots" [class.selected]="offerSlot === selectedOffer"  (click)="onOfferSlect(offerSlot)">
    <div>
        <label>Slot:
            <input [(ngModel)]="offerSlot.slotNumber" placeholder="slotNumber">
          </label>
          
          
          <label>Aprimo Offer Id:
            <input [(ngModel)]="offerSlot.aprimoId" placeholder="aprimoId">
          </label>
          
          <label>Control Content Id:
            <input [(ngModel)]="offerSlot.controlcontentId" placeholder="controlcontentId">
          </label>
    </div>
  </li>
</ul>
<app-offer-slot-details [offerSlot]="selectedOffer" ></app-offer-slot-details>