<h2>Offer Slots</h2>
<ul class="offerslots">
  <li *ngFor="let offerSlot of offerSlots">
    <a routerLink="/offerslotdetail/{{offerSlot.slotNumber}}">
    <div>
        <H1>Slot:<span>{{offerSlot.slotNumber}}</span></H1>
        <label>Aprimo Offer Id:<span>{{offerSlot.aprimoId}}</span></label>
        <label>Control Content Id:<span>{{offerSlot.controlcontentId}}</span></label>
    </div>
    </a>
  </li>
</ul>
<!-- <app-offer-slot-details [offerSlot]="selectedOffer" ></app-offer-slot-details> -->
