<!--The content below is only a placeholder and can be replaced.-->
<table cellpadding="0" cellspacing="0" width="100%" height="76" bgcolor="#003366" class="header" style="border:none;">
  <tr>
     <td width="100%" class="pageHeader" width="100%" height="76" align="center">		
<div class="appText" align="center">
  <h2>Offer Content Transport Application </h2>
</div>
</td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" width="100%" height="8" bgcolor="#003366" border="0">
<tr>
<td width="100%">
<div id='cssmenu'>
  <ul>
    <!-- <li style="border-left: 1px solid #003366;border: 0px solid #fff;width:130px;"/>-->
    <li class='active has-sub'><a href='../#'><span  style="arrow-down">Work with Offers<b>&#9660;</b></span></a>
          <ul>
           <li class='has-sub'><a href="../getAprimoOffersSeach.htm"><span>Get Offers</span></a></li>
           <li class='has-sub'><a href="../authenticatedAccessAngular.htm"><span>Offer Slot Management</span></a></li>
           <li class='has-sub'><a href="../offersReportSearch.htm"><span>Get Report</span></a></li>
           <li class='has-sub'><a href="../syncOffersSearch.htm"><span>Synchronize Offers</span></a></li>
           <li class='has-sub'><a href="../blackoutseach.htm"><span>Blackout Period</span></a></li>
           <li class='has-sub'><a href="../getDwnStrmTransn.htm"><span>Downstream Transaction</span></a></li>
      </ul>
    </li>
    <li class='active has-sub'><a href='../#'><span >Error Log<b>&#9660;</b></span></a>
          <ul>
           <li class='has-sub'><a href="../getErrorLog.htm"><span>View Log</span></a></li>
      </ul>
    </li>
    
    <li class='active has-sub'><a href='../#'><span >Operations Log<b>&#9660;</b></span></a>
          <ul>
           <li class='has-sub'><a href="../getOperLog.htm"><span>View Log</span></a></li>
      </ul>
    </li>
    
    <li class='active has-sub'><a href='../#'><span >Properties<b>&#9660;</b></span></a>
          <ul>
           <li class='has-sub'><a href="../getApplProp.htm"><span>Application Properties</span></a></li>
      </ul>
    </li>
    <li class='active has-sub'><a href='../#'><span  style="arrow-down">Services<b>&#9660;</b></span></a>
          <ul>
           <li class='has-sub'><a href="../interactwebservice.htm"><span>Interact</span></a></li>
           <li class='has-sub'><a href="../attributewebservice.htm"><span>Attribute</span></a></li>
           <li class='has-sub'><a href="../contentwebservice.htm"><span>Content</span></a></li>
          <!-- <li class='has-sub'><a href="../showservices.htm"><span>Services Status</span></a></li>
           <li class='has-sub'><a href="../interactendsessionreq.htm"><span>Interact End Session</span></a></li>-->
      </ul>
    </li>
    <li class='active has-sub'><a href='../#'><span >User LogOut<b>&#9660;</b></span></a>
          <ul>
           <li class='has-sub'><a href="../login.htm?value=LogOut"><span>Sign Out</span></a></li>
      </ul>
    </li>
  </ul>
<br/>
  </div>
 </td>
</tr>
</table>
<!-- 
<nav>
  <a routerLink="/offerslotdashboard">Heroes</a>
</nav>-->
<router-outlet></router-outlet>
 <!--  
<app-offer-slots-management></app-offer-slots-management>-->
